* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(77, 77, 77);
  min-height: 100vh;
}

header {
  background-color: #333;
  color: aliceblue;
  text-align: center;
  text-shadow: 6px 6px black;
}

.header1 {
  font-size: 70px;
  padding: 10px;
}

.palette-name {
  display: inline-block;
  font-size: 28px;
  padding: 5px;
  width: 50%;
}

.butao {
  background-color: white;
  border: solid 2px;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin: 10px;
  padding: 10px;
}

.butao:hover {
  background-color: rgb(0, 0, 0);
  border-color: rgb(38, 0, 255);
  color: white;
  cursor: pointer;
}

#color-palette {
  padding: 40px;
}

.color {
  border: black solid 1px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  width: 50px;
}

main {
  line-height: 0;
  margin-top: 35px;
  overflow-x: auto;
  overflow-y: auto;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

.pixel {
  background-color: white;
  border: black solid 1px;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  width: 40px;
}

footer {
  background-color: #333;
  color: aliceblue;
  margin-top: 35px;
  padding: 50px;
}

#myContact {
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
}

#contactsMine {
  text-align: center;
}

#contactsMine ul {
  list-style: none;
}

#contactsMine ul li {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 0 20px;
}
